@model MediaLibraryConfiguration
@using MediaLibrary.DAL.Services.Interfaces;
@using MediaLibrary.Shared.Services.Interfaces;
@inject IMefService MefService;

@{
    var dataService = MefService.GetExportedValue<IDataService>();
}

<div class="d-flex flex-column flex-fill overflow-auto pt-3 p-1">
    <form>
        @Html.HiddenFor(x => x.SelectedMediaPage)
        <div class="row m-0 p-0 mb-3">
            <div class="col-2 border-right">
                <h6>System Info</h6>
            </div>
            <div class="col-10">
                <div class="row mb-3">
                    <div class="col">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <div class="input-group-text" style="width: 200px">Database Name</div>
                            </div>
                            @Html.TextBox("DatabaseName", dataService.GetDbName(), new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <div class="input-group-text" style="width: 200px">Database Server</div>
                            </div>
                            @Html.TextBox("DatabaseServer", dataService.GetDbServer(), new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 p-0 mb-3">
            <div class="col-2 border-right">
                <h6>Interface</h6>
            </div>
            <div class="col-10">
                <div class="row mb-3">
                    <div class="col">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <div class="input-group-text" style="width: 200px">App Width</div>
                            </div>
                            @Html.DropDownListFor(x => x.AppWidth, new SelectList(Enum.GetValues(typeof(Enums.AppWidth))), null, new { @class = "custom-select" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <div class="input-group-text" style="width: 200px">NavBar Time Out (seconds)</div>
                            </div>
                            @Html.TextBoxFor(x => x.NavBarTimeOut, new { @class = "form-control", type = "number" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>