@model MediaLibrary.WebUI.Models.PodcastViewModel

<div class="d-flex flex-column flex-fill" style="overflow-y: auto">
    <div>
        <h4>Podcasts</h4>
        <div class="p-1">
            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#@(HtmlControlsRepository.NewPodcastModalId)" data-tooltip="tooltip" title="Add podcast"><i class="fa fa-plus"></i></button>
            @Html.DropDownListFor(x => x.Configuration.SelectedPodcastSort,
                                  Model.PodcastSortItems,
                                  null,
                                  new { @class = "form-control form-control-sm border border-secondary float-right align-middle",
                                        style = "width: 150px",
                                        title = "Sort by",
                                        data_podcast_action = "sort",
                                        data_tooltip = "tooltip"
            })
        </div>
        <hr />
    </div>

    @if (Model.PodcastGroups.Any())
    {
        <div id="accordion-podcasts flex-fill" style="overflow-y: auto" class="accordion">
            @foreach (var item in Model.PodcastGroups.Select((group, index) => new { Index = index, Group = group }))
            {
                <div class="card">
                    <div class="card-header p-0" id="heading-podcasts-@(item.Index)">
                        <h5 class="mb-0">
                            <button class="btn btn-sm btn-link w-100 text-left" data-toggle="collapse" data-target="#collapse-podcasts-@(item.Index)">
                                @(item.Group.Key)
                            </button>
                        </h5>
                    </div>

                    <div id="collapse-podcasts-@(item.Index)" class="collapse @(item.Index == 0 ? "show" : "")" aria-labelledby="heading-podcasts-@(item.Index)" data-parent="#accordion-podcasts">
                        <ul class="list-group list-group-flush">
                            @foreach (var podcast in item.Group)
                            {
                                <li class="list-group-item">
                                    <div class="media">
                                        <img class="mr-3 track-img" src="@(Url.Content("~/images/audio.png"))" title="@(podcast.Title)">
                                        <div class="media-body d-flex flex-column" style="overflow-x: auto">
                                            <span class="mt-0 text-truncate font-weight-bold">@(podcast.Title)</span>
                                            <small>@(podcast.PodcastItems.Count()) episode@(podcast.PodcastItems.Count() == 1 ? string.Empty : "s")</small>
                                        </div>
                                        <div>
                                            <button class="btn btn-sm btn-outline-secondary d-none" data-tooltip="tooltip" title="@(podcast.Description)" data-placement="left"
                                                    data-html="true">
                                                <i class="fa fa-info-circle"></i>
                                            </button>
                                            <buton class="btn btn-sm btn-outline-secondary" data-podcast-id="@(podcast.Id)" data-tooltip="tooltip" title="View podcast">
                                                <i class="fa fa-list"></i>
                                            </buton>
                                            <button class="btn btn-sm btn-outline-danger" data-podcast-action="delete" data-item-id="@(podcast.Id)" data-tooltip="tooltip" title="Delete podcast">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div>No podcasts.</div>
    }
</div>

<partial name="~/Views/Shared/Modals/AddNewPodcastModal.cshtml" model="Model" />