@model (bool HasPlaylists, IOrderedEnumerable<PodcastItem> PodcastItems, IEnumerable<int> DownloadIds)

@if (Model.PodcastItems.Any())
{
    <ul class="list-group list-group-flush">
        @foreach (var item in Model.PodcastItems.OrderByDescending(item => item.PublishDate))
        {
            <li class="list-group-item" data-episode-id="@(item.Id)" data-active-download="@(Model.DownloadIds.Contains(item.Id) ? "true" : "false")">
                <div class="media">
                    <img class="mr-3 track-img" src="@(Url.Content("~/images/audio.png"))" title="@(item.Title)">
                    <div class="media-body d-flex flex-column text-truncate">
                        <div class="mt-0 font-weight-bold text-truncate">@(item.Title)</div>
                        <div class="d-flex">
                            <small class="text-truncate">@(item.PublishDate)</small>
                            <small class="text-danger ml-2 flex-fill @(!item.LastPlayedDate.HasValue ? "d-none" : string.Empty)">PLAYED</small>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-sm btn-outline-secondary d-none" data-tooltip="tooltip" title="@(item.Description)" data-placement="left"
                                data-html="true">
                            <i class="fa fa-info-circle"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary" data-play-id="@(item.Id)" data-media-type="@(Enums.MediaTypes.Podcast)"
                                data-tooltip="tooltip" title="Play">
                            <i class="fa fa-play"></i>
                        </button>
                        @if (Model.HasPlaylists)
                        {
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-playlist-url="@(Url.Action("AddPodcastItemToPlaylist", "Podcast"))" data-item-id="@(item.Id)"
                                    data-toggle="modal" data-target="#@(HtmlControlsRepository.AddToPlaylistModalId)" data-tooltip="tooltip" title="Add to playlist"
                                    data-playlist-type="@(nameof(UIEnums.PlaylistTabs.Podcast))">
                                <i class="fa fa-plus"></i>
                            </button>
                        }
                        <button class="btn btn-sm btn-outline-secondary" data-toggle="popover" data-podcast-item-options-popover="@(item.Id)">
                            <i class="fa fa-ellipsis-v"></i>
                        </button>
                        <div class="d-none"><partial name="~/Views/Podcast/Controls/PodcastItemOptions.cshtml" model="(item, Model.DownloadIds.Contains(item.Id))" /></div>
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <span>No episodes added.</span>
}
