@model MediaLibrary.WebUI.Models.PodcastViewModel

@{
    IEnumerable<int> years = Model.SelectedPodcast.PodcastItems.Select(item => item.PublishDate.Year).Distinct().OrderByDescending(year => year);
}

<div class="d-flex flex-column flex-fill" style="overflow-y: auto">
    <div class="d-flex flex-column">
        <h4 class="text-truncate">@(Model.SelectedPodcast.Title) @(!Model.SelectedPodcast.Title.ToLower().Contains("podcast") ? "podcast" : string.Empty)</h4>
        <div class="d-flex flex-row p-1">
            <div class="flex-fill">
                <button class="btn btn-sm btn-outline-secondary" data-back-button="podcast" data-bs-tooltip="tooltip" title="Go back"><i class="fa fa-arrow-circle-left"></i></button>
                <button class="btn btn-sm btn-outline-danger" data-podcast-action="delete" data-bs-tooltip="tooltip" title="Delete podcast" data-item-id="@(Model.SelectedPodcast.Id)">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
            <div>
                <button class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#@(HtmlControlsRepository.SettingsModalId)" data-bs-tooltip="tooltip" title="Settings">
                    <i class="fa fa-cog"></i>
                </button>
            </div>
        </div>
        <div><hr /></div>
    </div>
    <div class="card flex-fill" style="overflow-y: auto">
        <div class="card-header" id="heading-podcast-@(Model.SelectedPodcast.Id)">
            <ul class="pagination justify-content-center m-0">
                <li class="page-item pagination-sm"><a class="page-link" href="javascript: void(0);" data-podcast-year="-">&laquo;</a></li>
                @foreach (var item in years.Select((year, index) => new { Index = index, Year = year }))
                {
                    <li class="page-item pagination-sm"><a class="page-link" href="javascript: void(0);" data-item-index="@(item.Index + 1)" data-podcast-year="@(item.Year)">@(item.Year)</a></li>
                }
                <li class="page-item pagination-sm"><a class="page-link" href="javascript: void(0);" data-podcast-year="+">&raquo;</a></li>
            </ul>
        </div>
        <div class="card-body m-0 p-0 flex-fill" id="@(HtmlControlsRepository.PodcastViewId)" style="overflow-y: auto"
             data-podcast-years="@(string.Join(",", years))"></div>
    </div>
</div>
