@model (bool HasPlaylists, IOrderedEnumerable<PodcastItem> PodcastItems, IEnumerable<int> DownloadIds)

@if (Model.PodcastItems.Any())
{
    <ul class="list-group list-group-flush">
        @foreach (var item in Model.PodcastItems.OrderByDescending(item => item.PublishDate))
        {
            <li class="list-group-item" data-episode-id="@(item.Id)" data-active-download="@(Model.DownloadIds.Contains(item.Id) ? "true" : "false")">
                <div class="media">
                    <img class="me-3 track-img" src="@(Url.Content("~/images/audio.png"))" title="@(item.Title)">
                    <div class="media-body d-flex flex-column text-truncate">
                        <div class="mt-0 font-weight-bold text-truncate">@(item.Title)</div>
                        <div class="d-flex">
                            <small class="badge text-bg-info text-truncate">@(item.PublishDate.ToShortDateString())</small>
                            <small class="badge text-bg-info ms-2 @(item.IsDownloaded ? string.Empty : "d-none")" data-podcast-download-id="@item.Id">DOWNLOADED</small>

                            @if (item.IsPlayed)
                            {
                                <small class="badge text-bg-info ms-2">PLAYED</small>
                            }
                            else if (item.IsStarted)
                            {
                                <small class="badge text-bg-info ms-2">STARTED</small>
                            }
                            <div class="flex-fill"></div>
                        </div>
                    </div>
                    <div class="text-nowrap">
                        <button class="btn btn-sm btn-outline-secondary" data-play-id="@(item.Id)" data-media-type="@(Enums.MediaTypes.Podcast)"
                                data-bs-tooltip="tooltip" title="Play">
                            <i class="fa fa-play"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary" data-podcast-item-id="@(item.Id)"><i class="fa fa-ellipsis-v"></i></button>
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <span>No episodes added.</span>
}

<partial name="~/Views/Shared/Modals/BlankDismissableModal.cshtml" />
