@model MediaLibrary.WebUI.Models.MediaLibraryViewModel

<div id="@(HtmlControlsRepository.HomeViewId)" class="@(Model.Configuration.SelectedMediaPage != Enums.MediaPages.Home ? "d-none" : string.Empty) flex-column flex-fill overflow-auto"
     style="display: flex" data-action-url="@Url.Action("Index", "Home")"></div>
<div id="@(HtmlControlsRepository.PlayerViewId)" class="@(Model.Configuration.SelectedMediaPage != Enums.MediaPages.Player ? "d-none" : string.Empty) flex-column flex-fill overflow-auto"
     style="display: flex" data-action-url="@Url.Action("Index", "Player")"></div>
<div id="@(HtmlControlsRepository.MediaViewId)" class="@((Model.Configuration.SelectedMediaPage == Enums.MediaPages.Home ||
                                                          Model.Configuration.SelectedMediaPage == Enums.MediaPages.Player) ? "d-none" : string.Empty) flex-column flex-fill overflow-auto"
     style="display: flex"></div>
<div id="@(HtmlControlsRepository.SettingsViewId)" class="@((Model.Configuration.SelectedMediaPage == Enums.MediaPages.Settings) ? "d-none" : string.Empty) flex-column flex-fill overflow-auto"
     style="display: flex" data-action-url="@Url.Action("Index", "Settings")"></div>

<partial name="~/Views/Shared/Modals/EditSongModal.cshtml" />
<partial name="~/Views/Shared/Modals/AddToPlaylistModal.cshtml" model="Model" />

@section scripts {
}

