<div class="modal fade" id="@(HtmlControlsRepository.PlayerControlsModalId)" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-none">
                <h5 class="modal-title">Player Controls</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-auto border-end">
                        <h6 style="width: 100px">Options</h6>
                    </div>
                    <div class="col">
                        <button class="btn btn-sm btn-outline-secondary @(HtmlControlsRepository.PlayerPlaylistToggleButtonsClass)">
                            <i class="fa fa-list-ul"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary @(HtmlControlsRepository.PlayerShuffleButtonsClass)"><i class="fa fa-random"></i></button>
                        <button data-repeat-type="@(nameof(Enums.RepeatTypes.None))" class="btn btn-sm btn-outline-secondary d-none @(HtmlControlsRepository.PlayerRepeatButtonsClass)">
                            <i class="fa fa-sync"></i>
                        </button>
                        <button data-repeat-type="@(nameof(Enums.RepeatTypes.RepeatOne))" class="btn btn-sm btn-outline-secondary active d-none @(HtmlControlsRepository.PlayerRepeatOneButtonsClass)">
                            <i class="fa fa-xs fa-sync"><sub>1</sub></i>
                        </button>
                        <button data-repeat-type="@(nameof(Enums.RepeatTypes.RepeatAll))" class="btn btn-sm btn-outline-secondary active d-none @(HtmlControlsRepository.PlayerRepeatAllButtonsClass)">
                            <i class="fa fa-sync"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary @(HtmlControlsRepository.PlayerFullscreenButtonsClass)">
                            <i class="fa fa-expand"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary @(HtmlControlsRepository.PlayerAudioVisualizerButtonsClass)"
                                data-bs-tooltip="tooltip" data-bs-title="Toggle audio visualizer">
                            <i class="fa fa-eye"></i>
                        </button>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-auto border-end">
                        <h6 style="width: 100px">Volume <span class="badge text-bg-info @HtmlControlsRepository.VolumeTextsClass"></span></h6>
                    </div>
                    <div class="col d-flex">
                        <div class="flex-fill volume-slider"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-none">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" data-bs-tooltip="tooltip" data-bs-title="Close">Close</button>
            </div>
        </div>
    </div>
</div>