@model Podcast

@{
}

<div class="d-flex flex-column" data-podcast-id="@(Model.Id)">
    <div class="row mb-3">
        <div class="col-auto border-end">
            <h6 style="width: 100px">Settings</h6>
        </div>
        <div class="col mb-3">
            <div class="form-check form-switch" data-bs-tooltip="tooltip" data-bs-title="Auto download new episodes">
                @Html.CheckBoxFor(x => x.DownloadNewEpisodes, new { @class = "form-check-input", role = "switch", data_podcast_action = "auto-download", data_item_id = Model.Id })
                @Html.LabelFor(x => x.DownloadNewEpisodes, "Auto download new episodes", new { @class = "form-check-label" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-auto border-end">
            <h6 style="width: 100px">Actions</h6>
        </div>
        <div class="col mb-3">
            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-tooltip="tooltip" data-bs-title="Refresh @Model.Title"
                    data-podcast-action="refresh" data-item-id="@Model.Id">
                <i class="fa fa-sync"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger" data-podcast-action="delete" data-item-id="@(Model.Id)" data-bs-tooltip="tooltip" 
                    data-bs-title="Delete @Model.Title">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
</div>