<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="@(Url.Content("~"))/" />
    <title>KOW Moosic @ViewBag.Title</title>
    <link rel="icon" href="@Url.Content("~/favicon.ico")" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1.custom/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/require.js/require.min.js"></script>
</head>
<body>
    <div class="container d-flex flex-column h-100">
        <header class="header-content">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="javascript: void(0)" data-media-page="@(nameof(Enums.MediaPages.Home))" )">
                        <img src="@(Url.Content("~/images/logo.png"))" data-bs-title="KOW Moosic" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#@(HtmlControlsRepository.NavBarContainerId)">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="@(HtmlControlsRepository.NavBarContainerId)">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" data-media-page="@(nameof(Enums.MediaPages.Music))" href="javascript: void(0)">@(nameof(Enums.MediaPages.Music))</a>
                                <a class="nav-link d-none disabled font-italic font-weight-bold text-dark" data-media-page="@(nameof(Enums.MediaPages.Music))">
                                    <span class="border-end border-start">&nbsp;@(nameof(Enums.MediaPages.Music))&nbsp;</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-media-page="@(nameof(Enums.MediaPages.Podcast))" href="javascript: void(0)">@(nameof(Enums.MediaPages.Podcast))s</a>
                                <a class="nav-link d-none disabled font-italic font-weight-bold text-dark" data-media-page="@(nameof(Enums.MediaPages.Podcast))">
                                    <span class="border-end border-start">&nbsp;@(nameof(Enums.MediaPages.Podcast))s&nbsp;</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-media-page="@(nameof(Enums.MediaPages.Television))" href="javascript: void(0)">@(nameof(Enums.MediaPages.Television))</a>
                                <a class="nav-link d-none disabled font-italic font-weight-bold text-dark" data-media-page="@(nameof(Enums.MediaPages.Television))">
                                    <span class="border-end border-start">&nbsp;@(nameof(Enums.MediaPages.Television))&nbsp;</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-media-page="@(nameof(Enums.MediaPages.Playlist))" href="javascript: void(0)">@(nameof(Enums.MediaPages.Playlist))s</a>
                                <a class="nav-link d-none disabled font-italic font-weight-bold text-dark" data-media-page="@(nameof(Enums.MediaPages.Playlist))">
                                    <span class="border-end border-start">&nbsp;@(nameof(Enums.MediaPages.Playlist))s&nbsp;</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-media-page="@(nameof(Enums.MediaPages.Player))" href="javascript: void(0)">Now Playing</a>
                                <a class="nav-link d-none disabled font-italic font-weight-bold text-dark" data-media-page="@(nameof(Enums.MediaPages.Player))">
                                    <span class="border-end border-start">&nbsp;Now Playing&nbsp;</span>
                                </a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Logout", "Account")">Logout</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main class="d-flex flex-column flex-fill overflow-auto body-content">
            @RenderBody()
        </main>
        <footer class="footer-content">
            <p class="text-center">&copy; @DateTime.Now.Year - Kendall O. Williams</p>
        </footer>
    </div>

    <partial name="~/Views/Shared/Modals/LoadingModal.cshtml" />
    <partial name="~/Views/Shared/Modals/Reusable/AlertModal.cshtml" />
    <partial name="~/Views/Shared/Modals/Reusable/ErrorModal.cshtml" />
    <partial name="~/Views/Shared/Modals/Reusable/ConfirmModal.cshtml" />
    <partial name="~/Views/Shared/Modals/Reusable/WarningModal.cshtml" />
    <partial name="~/Views/Shared/Modals/Reusable/QuestionModal.cshtml" />
    <partial name="~/Views/Shared/Modals/AddNewPodcastModal.cshtml" />
    <partial name="~/Views/Shared/Modals/PlayerControlsModal.cshtml" />
    <partial name="~/Views/Shared/Modals/BlankDismissableModal.cshtml" />

    @RenderSection("scripts", false)
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript" defer="defer">
        requirejs.config({
            baseUrl: '@(Url.Content("~/lib/app"))',
            paths: {
                jquery: '../jquery/jquery.min',
                'jquery-ui': '../jquery-ui-1.12.1.custom/jquery-ui.min',
                bootstrap: '../bootstrap/dist/js/bootstrap.bundle.min',
                '@@microsoft/signalr': '../microsoft/signalr/dist/browser/signalr.min'
            },
            deps: ['jquery', 'jquery-ui', 'bootstrap', '@@microsoft/signalr']
        });

        requirejs(['jquery', 'jquery-ui', 'bootstrap', '@@microsoft/signalr', 'app'], function (jquery, jquery_ui, bootstrap, signalr, App) {
            let app = new App.default();
        });
    </script>
</body>
</html>
