<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="@(Url.Content("~"))/" />
    <title>KOW Moosic @ViewBag.Title</title>
    <link rel="icon" href="@Url.Content("~/favicon.ico")" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1.custom/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/require.js/require.min.js"></script>
</head>
<body>
    <div class="container d-flex flex-column h-100">
        <header class="header-content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="javascript: void(0)" data-media-page="@(nameof(Enums.MediaPages.Home))" )">
                    <img src="@(Url.Content("~/images/logo.png"))" title="KOW Moosic" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#divNavbar" aria-controls="divNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="divNavbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" data-media-page="@(nameof(Enums.MediaPages.Music))" href="javascript: void(0)">@(nameof(Enums.MediaPages.Music))</a>
                            <a class="nav-link d-none disabled font-italic font-weight-bold text-dark" data-media-page="@(nameof(Enums.MediaPages.Music))">@(nameof(Enums.MediaPages.Music))</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-media-page="@(nameof(Enums.MediaPages.Podcast))" href="javascript: void(0)">@(nameof(Enums.MediaPages.Podcast))s</a>
                            <a class="nav-link d-none disabled font-italic font-weight-bold text-dark" data-media-page="@(nameof(Enums.MediaPages.Podcast))">@(nameof(Enums.MediaPages.Podcast))s</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-media-page="@(nameof(Enums.MediaPages.Television))" href="javascript: void(0)">@(nameof(Enums.MediaPages.Television))</a>
                            <a class="nav-link d-none disabled font-italic font-weight-bold text-dark" data-media-page="@(nameof(Enums.MediaPages.Television))">@(nameof(Enums.MediaPages.Television))</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-media-page="@(nameof(Enums.MediaPages.Playlist))" href="javascript: void(0)">@(nameof(Enums.MediaPages.Playlist))s</a>
                            <a class="nav-link d-none disabled font-italic font-weight-bold text-dark" data-media-page="@(nameof(Enums.MediaPages.Playlist))">@(nameof(Enums.MediaPages.Playlist))s</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-media-page="@(nameof(Enums.MediaPages.Player))" href="javascript: void(0)">Now Playing</a>
                            <a class="nav-link d-none disabled font-italic font-weight-bold text-dark" data-media-page="@(nameof(Enums.MediaPages.Player))">Now Playing</a>
                        </li>
                    </ul>
                    <div id="@(HtmlControlsRepository.HeaderControlsContainerId)">
                        <hr class="d-lg-none" />
                        <button id="@(HtmlControlsRepository.HeaderPreviousButtonId)" class="btn btn-sm btn-outline-secondary"><i class="fa fa-step-backward"></i></button>
                        <button id="@(HtmlControlsRepository.HeaderBackwardButtonId)" class="btn btn-sm btn-outline-secondary"><i class="fa fa-backward"></i></button>
                        <button id="@(HtmlControlsRepository.HeaderPlayButtonId)" class="btn btn-outline-secondary"><i class="fa fa-play"></i></button>
                        <button id="@(HtmlControlsRepository.HeaderPauseButtonId)" class="btn btn-outline-secondary d-none"><i class="fa fa-pause"></i></button>
                        <button id="@(HtmlControlsRepository.HeaderForwardButtonId)" class="btn btn-sm btn-outline-secondary"><i class="fa fa-forward"></i></button>
                        <button id="@(HtmlControlsRepository.HeaderNextButtonId)" class="btn btn-sm btn-outline-secondary"><i class="fa fa-step-forward"></i></button>
                        <button id="@(HtmlControlsRepository.HeaderShuffleButtonId)" class="btn btn-sm btn-outline-secondary ml-4"><i class="fa fa-random"></i></button>
                        <button id="@(HtmlControlsRepository.HeaderRepeatButtonId)" data-repeat-type="@(nameof(Enums.RepeatTypes.None))" class="btn btn-sm btn-outline-secondary d-none">
                            <i class="fa fa-sync"></i>
                        </button>
                        <button id="@(HtmlControlsRepository.HeaderRepeatOneButtonId)" data-repeat-type="@(nameof(Enums.RepeatTypes.RepeatOne))" class="btn btn-sm btn-outline-secondary active d-none">
                            <i class="fa fa-xs fa-sync"><sub>1</sub></i>
                        </button>
                        <button id="@(HtmlControlsRepository.HeaderRepeatAllButtonId)" data-repeat-type="@(nameof(Enums.RepeatTypes.RepeatAll))" class="btn btn-sm btn-outline-secondary active d-none">
                            <i class="fa fa-sync"></i>
                        </button>
                    </div>
                </div>
            </nav>
        </header>
        <main class="d-flex flex-column flex-fill overflow-auto body-content">
            @RenderBody()
        </main>
        <footer class="footer-content">
            <hr />
            <p class="text-center">&copy; @DateTime.Now.Year - Kendall O. Williams</p>
        </footer>
    </div>

    <partial name="~/Views/Shared/Modals/LoadingModal.cshtml" />
    <partial name="~/Views/Shared/Modals/Reusable/AlertModal.cshtml" />
    <partial name="~/Views/Shared/Modals/Reusable/ErrorModal.cshtml" />
    <partial name="~/Views/Shared/Modals/Reusable/ConfirmModal.cshtml" />
    <partial name="~/Views/Shared/Modals/Reusable/WarningModal.cshtml" />

    @RenderSection("scripts", false)
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript" defer="defer">
        requirejs.config({
            baseUrl: '@(Url.Content("~/lib/app"))',
            paths: {
                jquery: '../jquery/jquery.min',
                'jquery-ui': '../jquery-ui-1.12.1.custom/jquery-ui.min',
                bootstrap: '../bootstrap/dist/js/bootstrap.bundle.min'
            },
            deps: ['jquery', 'jquery-ui', 'bootstrap']
        });

        requirejs(['app'], function (App) {
            let app = new App.default();
        });
    </script>
</body>
</html>
