@model MusicConfiguration

@{
    SelectList albumSortList = new SelectList(MusicRepository.GetAlbumSortItems(), "Value", "Name"),
               artistSortList = new SelectList(MusicRepository.GetArtistSortItems(), "Value", "Name"),
               songSortList = new SelectList(MusicRepository.GetSongSortItems(), "Value", "Name");
}

<div class="d-flex flex-column flex-fill overflow-auto">
    <div class="row m-0 p-0 mb-3">
        <div class="col-auto border-end">
            <h6 style="width: 100px">Interface</h6>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        @Html.LabelFor(x => x.SelectedAlbumSort, "Album Sort", new { @class = "form-label" })
                        @Html.DropDownListFor(x => x.SelectedAlbumSort, albumSortList, null, new { @class = "form-select form-select-sm" })
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(x => x.SelectedArtistSort, "Artist Sort", new { @class = "form-label" })
                        @Html.DropDownListFor(x => x.SelectedArtistSort, artistSortList, null, new { @class = "form-select form-select-sm" })
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(x => x.SelectedSongSort, "Song Sort", new { @class = "form-label" })
                        @Html.DropDownListFor(x => x.SelectedSongSort, songSortList, null, new { @class = "form-select form-select-sm" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0 mb-3">
        <div class="col-auto border-end">
            <h6 style="width: 100px">Paths</h6>
        </div>
        <div class="col">
            <partial name="~/Views/Shared/Controls/StringList.cshtml" model="Model.MusicPaths" />
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-auto border-end">
            <h6 style="width: 100px">Actions</h6>
        </div>
        <div class="col">
            <div class="mb-3">
                <button class="btn btn-sm btn-outline-secondary" data-settings-action="manage-directories" data-bs-tooltip="tooltip" title="Manage directories">
                    <i class="fa fa-folder"></i>
                </button>
                <button class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#@(HtmlControlsRepository.NewSongModalId)" data-bs-tooltip="tooltip" title="Add new song">
                    <i class="fa fa-upload"></i>
                </button>
                <button class="btn btn-sm btn-outline-secondary" data-music-settings-action="refresh" data-bs-tooltip="tooltip" title="Check for new music"><i class="fa fa-sync"></i></button>
            </div>
        </div>
    </div>
</div>
