@model PlayerConfiguration

<div class="d-flex flex-column flex-fill overflow-auto">
    <div class="row m-0 p-0">
        <div class="col-auto border-right">
            <h6 style="width: 75px">Interface</h6>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(x => x.AudioVisualizerBarCount, "Audio Visualizer Bar Count")
                        @Html.TextBoxFor(x => x.AudioVisualizerBarCount, new { @class = "form-control", type = "number", step = "1", min = "64", max = "128" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-auto border-right">
            <h6 style="width: 75px">Options</h6>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(x => x.SkipBackwardSeconds, "Skip Back (seconds)")
                        @Html.TextBoxFor(x => x.SkipBackwardSeconds, new { @class = "form-control", type = "number", step = "1", min = "1" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.SkipForwardSeconds, "Skip Ahead (seconds)")
                        @Html.TextBoxFor(x => x.SkipForwardSeconds, new { @class = "form-control", type = "number", step = "1", min = "1" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ProgressUpdateInterval, "Progress Update Interval (seconds)")
                        @Html.TextBoxFor(x => x.ProgressUpdateInterval, new { @class = "form-control", type = "number", step = "1", min = "1" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>