@model MediaLibrary.WebUI.Models.PlayerViewModel

@if (Model.Configuration.SelectedMediaType == Enums.MediaTypes.Song && Model.Songs.Any())
{
    <ul class="list-group list-group-flush">
        @foreach (var item in Model.Songs.Select((song, index) => new { Song = song, Index = index }))
        {
            <li class="list-group-item list-group-item-action @(item.Index == Model.Configuration.CurrentItemIndex ? "active" : string.Empty)" data-play-url="@Url.Action("File", "Music", new { item.Song.Id })"
                data-play-index="@(item.Index)" data-item-id="@(item.Song.Id)" data-title="@(item.Song.Title)" data-current-time="@(item.Song.Progress)">
                <div class="media">
                    <div class="media-body d-flex flex-column" style="overflow-x: auto">
                        <span class="mt-0 text-truncate font-weight-bold">@(item.Song.Title)</span>
                        <div class="d-flex flex-row">
                            <small data-album-id="@(item.Song.Album?.Id)" class="text-truncate" style="cursor: pointer">@(item.Song.Album?.Title ?? "Unknown Album")</small>
                            <small>&nbsp;-&nbsp;</small>
                            <small data-artist-id="@(item.Song.Artist?.Id)" style="cursor: pointer" class="text-muted text-truncate">@(item.Song.Artist?.Name ?? "Unknown Artist")</small>
                            <div class="flex-fill"></div>
                        </div>
                    </div>
                    <div class="text-nowrap">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-item-index="@(item.Index)" data-bs-tooltip="tooltip" title="Play">
                            <i class="fa fa-play"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary d-none d-lg-inline-block" data-bs-toggle="modal" data-bs-target="#@(HtmlControlsRepository.EditSongModalId)" data-item-id="@(item.Song.Id)" data-bs-tooltip="tooltip"
                                title="Edit">
                            <i class="fa fa-edit"></i>
                        </button>
                    </div>
                </div>
            </li>
        }
    </ul>
}
else if (Model.Configuration.SelectedMediaType == Enums.MediaTypes.Podcast && Model.PodcastItems.Any())
{
    <ul class="list-group list-group-flush">
        @foreach (var item in Model.PodcastItems.Select((podcastItem, index) => new { PodcastItem = podcastItem, Index = index }))
        {
            <li class="list-group-item list-group-item-action @(item.Index == Model.Configuration.CurrentItemIndex ? "active" : string.Empty)" data-play-url="@Url.Action("File", "Podcast", new { item.PodcastItem.Id })"
                data-play-index="@(item.Index)" data-item-id="@(item.PodcastItem.Id)" data-title="@(item.PodcastItem.Title)" data-current-time="@(item.PodcastItem.Progress)">
                <div class="media">
                    <div class="media-body d-flex flex-column" style="overflow-x: auto">
                        <span class="mt-0 text-truncate font-weight-bold">@(item.PodcastItem.Title)</span>
                        <div class="d-flex flex-row">
                            <small data-podcast-id="@(item.PodcastItem.PodcastId)" style="cursor: pointer" class="text-truncate">@(item.PodcastItem.Podcast?.Title ?? "Unknown Podcast")</small>
                            <small>&nbsp;-&nbsp;</small>
                            <small class="text-muted text-truncate">@(item.PodcastItem?.Podcast?.Author ?? "Unknown Author")</small>
                            <div class="flex-fill"></div>
                        </div>
                    </div>
                    <div class="text-nowrap">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-item-index="@(item.Index)" data-bs-tooltip="tooltip" title="Play">
                            <i class="fa fa-play"></i>
                        </button>
                    </div>
                </div>
            </li>
        }
    </ul>
}
else if (Model.Configuration.SelectedMediaType == Enums.MediaTypes.Television && Model.Episodes.Any())
{
    <ul class="list-group list-group-flush">
        @foreach (var item in Model.Episodes.Select((episode, index) => new { Episode = episode, Index = index }))
        {
            <li class="list-group-item list-group-item-action @(item.Index == Model.Configuration.CurrentItemIndex ? "active" : string.Empty)" data-play-url="@Url.Action("File", "Television", new { item.Episode.Id })"
                data-play-index="@(item.Index)" data-item-id="@(item.Episode.Id)" data-title="@(item.Episode.Title)" data-current-time="@(item.Episode.Progress)">
                <div class="media">
                    <div class="media-body d-flex flex-column" style="overflow-x: auto">
                        <span class="mt-0 text-truncate font-weight-bold">@(item.Episode.Title)</span>
                        <div class="d-flex flex-row">
                            <small data-series-id="@(item.Episode.SeriesId)" style="cursor: pointer" class="text-truncate">@(item.Episode.Series?.Title ?? "Unknown Series")</small>
                            <small>&nbsp;-&nbsp;</small>
                            <small class="text-muted text-truncate">@(item.Episode.Season.HasValue ? $"Season {item.Episode.Season.Value}" : "Unknown Season")</small>
                            <div class="flex-fill"></div>
                        </div>
                    </div>
                    <div class="text-nowrap">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-item-index="@(item.Index)" data-bs-tooltip="tooltip" title="Play">
                            <i class="fa fa-play"></i>
                        </button>
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <div>No now playing items.</div>
}
