@model MediaLibrary.WebUI.Models.TelevisionViewModel

<div class="d-flex flex-column flex-fill"  style="overflow-y: auto">
    <div class="d-flex flex-column">
        <h4>Television</h4>
        <div class="d-flex flex-row">
            <div class="flex-fill"></div>
            <div class="pr-1">
                <button type="button" class="btn btn-sm btn-outline-secondary @(HtmlControlsRepository.PlaybackContinueButtonsClass)"
                        data-tooltip="tooltip" title="Continue playing" data-page="@Enums.MediaTypes.Television">
                    <i class="fa fa-play-circle"></i>
                </button>
                <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#@(HtmlControlsRepository.SettingsModalId)" data-tooltip="tooltip" title="Settings">
                    <i class="fa fa-cog"></i>
                </button>
            </div>
        </div>
        <div><hr /></div>
    </div>

    @if (Model.SeriesGroups.Any())
    {
        <div id="accordion-series" style="overflow-y: auto" class="accordion flex-fill">
            @foreach (var item in Model.SeriesGroups.Select((group, index) => new { Index = index, Group = group }))
            {
                <div class="card">
                    <div class="card-header p-0" id="heading-series-@(item.Index)">
                        <h5 class="mb-0">
                            <button class="btn btn-sm btn-link w-100 text-left" data-toggle="collapse" data-target="#collapse-series-@(item.Index)" aria-expanded="@(item.Index == 0 ? "true" : "false")" aria-controls="collapse-series-@(item.Index)">
                                @(item.Group.Key)
                            </button>
                        </h5>
                    </div>

                    <div id="collapse-series-@(item.Index)" class="collapse @(item.Index == 0 ? "show" : "")" aria-labelledby="heading-series-@(item.Index)" data-parent="#accordion-series">
                        <ul class="list-group list-group-flush">
                            @foreach (var series in item.Group)
                            {
                                <li class="list-group-item">
                                    <div class="media">
                                        <img class="mr-3 track-img" src="@(Url.Content("~/images/audio.png"))" title="@(series.Title)">
                                        <div class="media-body d-flex flex-column" style="overflow-x: auto">
                                            <span class="mt-0 text-truncate font-weight-bold">@(series.Title)</span>
                                            <small>@(series.Episodes.GroupBy(e => e.Season).Count()) season@(series.Episodes.GroupBy(e => e.Season).Count() == 1 ? string.Empty : "s")</small>
                                        </div>
                                        <div>
                                            <buton class="btn btn-sm btn-outline-secondary" data-series-id="@(series.Id)" data-tooltip="tooltip" title="View series">
                                                <i class="fa fa-list"></i>
                                            </buton>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div>No series.</div>
    }
</div>