@model MediaLibrary.WebUI.Models.TelevisionViewModel

<div class="d-flex flex-column flex-fill" style="overflow-y: auto">
    <div class="d-flex flex-column">
        <h4>Television</h4>
        <div class="d-flex flex-row p-1">
            <div class="flex-fill"></div>
            <div>
                <button type="button" class="btn btn-sm btn-outline-secondary @(HtmlControlsRepository.PlaybackContinueButtonsClass)"
                        data-bs-tooltip="tooltip" title="Continue playing" data-page="@Enums.MediaTypes.Television">
                    <i class="fa fa-play-circle"></i>
                </button>
                <button class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#@(HtmlControlsRepository.SettingsModalId)" data-bs-tooltip="tooltip" title="Settings">
                    <i class="fa fa-cog"></i>
                </button>
            </div>
        </div>
        <div><hr /></div>
    </div>

    @if (Model.SeriesGroups.Any())
    {
        <div id="accordion-series" style="overflow-y: auto" class="accordion flex-fill">
            @foreach (var item in Model.SeriesGroups.Select((group, index) => new { Index = index, Group = group }))
            {
                <div class="accordion-item">
                    <div class="accordion-header p-0" id="heading-series-@(item.Index)">
                        <h5 class="mb-0">
                            <button class="accordion-button w-100 text-left p-1 @(item.Index == 0 ? string.Empty : "collapsed")" data-bs-toggle="collapse" data-bs-target="#collapse-series-@(item.Index)" aria-expanded="@(item.Index == 0 ? "true" : "false")" aria-controls="collapse-series-@(item.Index)">
                                @(item.Group.Key)
                            </button>
                        </h5>
                    </div>

                    <div id="collapse-series-@(item.Index)" class="accordion-collapse collapse @(item.Index == 0 ? "show" : string.Empty)" data-bs-parent="#accordion-series">
                        <div class=" accordion-body p-0 pb-1">
                            <ul class="list-group list-group-flush">
                                @foreach (var series in item.Group)
                                {
                                    <li class="list-group-item">
                                        <div class="media">
                                            <img class="me-3 track-img" src="@(Url.Content("~/images/audio.png"))" title="@(series.Title)">
                                            <div class="media-body d-flex flex-column" style="overflow-x: auto">
                                                <span class="mt-0 text-truncate font-weight-bold">@(series.Title)</span>
                                                <small>@(series.Episodes.GroupBy(e => e.Season).Count()) season@(series.Episodes.GroupBy(e => e.Season).Count() == 1 ? string.Empty : "s")</small>
                                            </div>
                                            <div>
                                                <buton class="btn btn-sm btn-outline-secondary" data-series-id="@(series.Id)" data-bs-tooltip="tooltip" title="View series">
                                                    <i class="fa fa-list"></i>
                                                </buton>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div>No series.</div>
    }
</div>