@model (bool HasPlaylists, IEnumerable<Episode> Episodes)

@if (Model.Episodes.Any())
{
    <ul class="list-group list-group-flush">
        @foreach (var item in Model.Episodes.OrderBy(episode => episode.Id))
        {
            <li class="list-group-item" data-episode-id="@(item.Id)">
                <div class="media">
                    <img class="mr-3 track-img" src="@(Url.Content("~/images/audio.png"))" title="@(item.Title)">
                    <div class="media-body d-flex flex-column" style="overflow-x: auto">
                        <span class="mt-0 text-truncate font-weight-bold" style="flex: 0 0 auto">@(item.Title)</span>
                        <small style="cursor: pointer; flex: 0 0 auto"></small>
                    </div>
                    <div>
                        <button class="btn btn-sm btn-outline-secondary" data-play-id="@(item.Id)" data-media-type="@(Enums.MediaTypes.Television)"
                                data-tooltip="tooltip" title="Play">
                            <i class="fa fa-play"></i>
                        </button>
                        @if (Model.HasPlaylists)
                        {
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-playlist-url="@(Url.Action("AddEpisodeToPlaylist", "Television"))" data-item-id="@(item.Id)"
                                    data-toggle="modal" data-target="#@(HtmlControlsRepository.AddToPlaylistModalId)" data-tooltip="tooltip" title="Add to playlist"
                                    data-playlist-type="@(nameof(UIEnums.PlaylistTabs.Television))">
                                <i class="fa fa-plus"></i>
                            </button>
                        }
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <span>No episodes added.</span>
}
