@model MediaLibrary.WebUI.Models.MusicViewModel

<div class="d-flex flex-column flex-fill" style="overflow-y: auto">
    <div>
        <h4 class="text-truncate">@(Model.SelectedAlbum.Title)</h4>
        <div class="p-1">
            <button class="btn btn-sm btn-outline-secondary" data-back-button="album" data-bs-tooltip="tooltip" data-bs-title="Go back"><i class="fa fa-arrow-circle-left"></i></button>
        </div>
        <hr />
    </div>
    <div class="card flex-fill" style="overflow-y: auto">
        <div class="card-header p-0" id="heading-artist-@(Model.SelectedAlbum.Id)">
            <h5 class="mb-0">
                <button class="btn btn-sm btn-link w-100 text-start">Songs</button>
            </h5>
        </div>
        <div class="card-body m-0 p-0 flex-fill" style="overflow-y: auto">
            @if (Model.SelectedAlbum.Tracks.Any())
            {
                <ul class="list-group list-group-flush">
                    @foreach (var song in Model.SelectedAlbum.Tracks)
                    {
                        <li class="list-group-item" data-song-id="@(song.Id)">
                            <div class="media">
                                <img class="me-3 track-img" src="@(Url.Content("~/images/audio.png"))" data-bs-title="@(song.Title)">
                                <div class="media-body d-flex flex-column" style="overflow-x: auto">
                                    <span class="mt-0 text-truncate font-weight-bold">@(song.Title)</span>
                                    <div class="d-flex">
                                        <small data-artist-id="@(song.ArtistId)" style="cursor: pointer">@(song.Artist?.Name ?? "Unknown Artist")</small>
                                        <div class="flex-fill"></div>
                                    </div>
                                </div>
                                <div class="text-nowrap">
                                    <button class="btn btn-sm btn-outline-secondary" data-play-id="@(song.Id)" data-bs-tooltip="tooltip" data-bs-title="Play">
                                        <i class="fa fa-play"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary" data-song-options-id="@(song.Id)" data-bs-tooltip="tooltip" data-bs-title="Options">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            }
            else
            {
                <span>No songs added.</span>
            }
        </div>
    </div>
</div>
