@model MediaLibrary.WebUI.Models.MusicViewModel

<div class="d-flex flex-column" style="flex: 1 1 auto; overflow-y: auto">
    <div style="flex: 0 0 auto">
        <h4 class="text-truncate">@(Model.SelectedAlbum.Title)</h4>
        <div class="p-1">
            <button class="btn btn-sm btn-outline-secondary" data-back-button="album" data-tooltip="tooltip" title="Go back"><i class="fa fa-arrow-circle-left"></i></button>
        </div>
        <hr />
    </div>
    <div class="card" style="flex: 1 1 auto; overflow-y: auto">
        <div class="card-header p-0" id="heading-artist-@(Model.SelectedAlbum.Id)">
            <h5 class="mb-0">
                <button class="btn btn-sm btn-link">Songs</button>
            </h5>
        </div>
        <div class="card-body m-0 p-0" style="flex: 1 1 auto; overflow-y: auto">
            @if (Model.SelectedAlbum.Tracks.Any())
            {
            <ul class="list-group list-group-flush">
                @foreach (var song in Model.SelectedAlbum.Tracks)
                    {
                <li class="list-group-item" data-song-id="@(song.Id)">
                    <div class="media">
                        <img class="mr-3 track-img" src="@(Url.Content("~/images/audio.png"))" title="@(song.Title)">
                        <div class="media-body d-flex flex-column" style="overflow-x: auto">
                            <span class="mt-0 text-truncate font-weight-bold" style="flex: 0 0 auto">@(song.Title)</span>
                            <small data-artist-id="@(song.ArtistId)" style="cursor: pointer; flex: 0 0 auto">@(song.Artist?.Name ?? "Unknown Artist")</small>
                        </div>
                        <div>
                            <button class="btn btn-sm btn-outline-secondary" data-play-id="@(song.Id)" data-tooltip="tooltip" title="Play">
                                <i class="fa fa-play"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-secondary d-none d-lg-inline-block" data-toggle="modal" data-target="#@(HtmlControlsRepository.EditSongModalId)" data-item-id="@(song.Id)" data-tooltip="tooltip"
                                    title="Edit">
                                <i class="fa fa-edit"></i>
                            </button>
                            @if (Model.Playlists.Any())
                                    {
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-playlist-url="@(Url.Action("AddTrackToPlaylist", "Music"))" data-item-id="@(song.Id)"
                                    data-toggle="modal" data-target="#@(HtmlControlsRepository.AddToPlaylistModalId)" data-tooltip="tooltip" title="Add to playlist"
                                    data-playlist-type="@(nameof(Enums.PlaylistTabs.Music))">
                                <i class="fa fa-plus"></i>
                            </button>
                                    }
                        </div>
                    </div>
                </li>
                    }
            </ul>
            }
            else
            {
            <span>No songs added.</span>
            }
        </div>
    </div>
</div>
