@model MediaLibrary.WebUI.Models.MusicViewModel

@if (Model.ArtistGroups.Any())
{
    <div class="accordion accordion-artists">
        @foreach (var item in Model.ArtistGroups.Select((group, index) => new { Index = index, Group = group }))
        {
            <div class="accordion-item">
                <div class="accordion-header p-0" id="heading-artists-@(item.Index)">
                    <h5 class="m-0">
                        @if (Model.IsSearchResponse)
                        {
                            <button class="accordion-button ui-state-disabled p-1 @(item.Index == 0 ? string.Empty : "collapsed")" disabled="disabled">@(item.Group.Key)</button>
                        }
                        else
                        {
                            <button class="accordion-button w-100 text-start p-1 @(item.Index == 0 ? string.Empty : "collapsed")" data-bs-toggle="collapse" data-bs-target="#collapse-artists-@(item.Index)" aria-expanded="@(item.Index == 0 ? "true" : "false")"
                        aria-controls="collapse-artists-@(item.Index)">
                                @(item.Group.Key)
                            </button>
                        }
                    </h5>
                </div>

                <div id="collapse-artists-@(item.Index)" class="accordion-collapse collapse @(item.Index == 0 ? "show" : "")" aria-labelledby="heading-artists-@(item.Index)" data-bs-parent=".accordion-artists">
                    <div class=" accordion-body p-0 pb-1">
                        <ul class="list-group list-group-flush">
                            @foreach (var artist in item.Group.OrderBy(a => a.Name))
                            {
                                int count = artist.Albums.Count();
                                string txtAlbums = count == 1 ? $"{count} album" : $"{count} albums";

                                <li class="list-group-item">
                                    <div class="media">
                                        <img class="me-3 track-img" src="@(Url.Content("~/images/audio.png"))" data-bs-title="@(artist.Name)">
                                        <div class="media-body d-flex flex-column" style="overflow-x: auto">
                                            <span class="mt-0 text-truncate font-weight-bold">@(artist.Name)</span>
                                            <div class="d-flex">
                                                <small style="cursor: pointer" data-artist-id="@artist.Id">@(txtAlbums)</small>
                                                <div class="flex-fill"></div>
                                            </div>
                                        </div>
                                        <div class="text-nowrap">
                                            <button class="btn btn-sm btn-outline-secondary" data-bs-tooltip="tooltip" data-bs-title="View artist" data-artist-id="@(artist.Id)">
                                                <i class="fa fa-list"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary" data-artist-options-id="@(artist.Id)" data-bs-tooltip="tooltip" data-bs-title="Options">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div>No artists.</div>
}
