@model MediaLibrary.WebUI.Models.MusicViewModel

<div class="d-flex flex-column" style="flex: 1 1 auto; overflow-y: auto">
    <div style="flex: 0 0 auto">
        <h4>@(Model.SelectedArtist.Name)</h4>
        <div class="p-1">
            <button class="btn btn-sm btn-outline-secondary" data-back-button="artist" data-tooltip="tooltip" title="Go back"><i class="fa fa-arrow-circle-left"></i></button>
        </div>
        <hr />
    </div>
    <div class="card" style="flex: 1 1 auto; overflow-y: auto">
        <div class="card-header p-0" id="heading-artist-@(Model.SelectedArtist.Id)">
            <h5 class="mb-0">
                <button class="btn btn-sm btn-link">Albums</button>
            </h5>
        </div>
        <div class="card-body m-0 p-0" style="flex: 1 1 auto; overflow-y: auto">
            @if (Model.SelectedArtist.Albums.Any())
            {
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.SelectedArtist.Albums.OrderBy(album => album.Title))
                    {
                        int trackCount = item.Tracks.Count();
                        string songLabel = trackCount == 1 ? "song" : "songs";

                        <li class="list-group-item">
                            <div class="media">
                                <img class="mr-3 track-img" src="@(Url.Content("~/images/audio.png"))" title="@(item.Title)">
                                <div class="media-body d-flex flex-column" style="overflow-x: auto">
                                    <span class="mt-0 text-truncate font-weight-bold" style="flex: 0 0 auto">@(item.Title)</span>
                                    <small style="flex: 0 0 auto">@($"{trackCount} {songLabel}")</small>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-outline-secondary" data-album-id="@(item.Id)" data-tooltip="tooltip" title="View album">
                                        <i class="fa fa-list"></i>
                                    </button>
                                    @if (Model.Playlists.Any())
                                    {
                                    <button type="button" class="btn btn-sm btn-outline-secondary" data-playlist-url="@(Url.Action("AddAlbumToPlaylist", "Music"))" data-item-id="@(item.Id)"
                                            data-toggle="modal" data-target="#@(HtmlControlsRepository.AddToPlaylistModalId)" data-tooltip="tooltip" title="Add to playlist"
                                            data-playlist-type="@(nameof(Enums.PlaylistTabs.Music))">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    }
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            }
            else
            {
                <span>No albums added.</span>
            }
        </div>
    </div>
</div>
