@model (IGrouping<string, Track> Group, bool HasPlaylists)

<ul class="list-group list-group-flush">
    @foreach (var song in Model.Group)
    {
        <li class="list-group-item" data-song-id="@(song.Id)">
            <div class="media">
                <img class="mr-3 track-img" src="@(Url.Content("~/images/audio.png"))" title="@(song.Title)">
                <div class="media-body d-flex flex-column" style="overflow-x: auto">
                    <span class="mt-0 text-truncate font-weight-bold" style="flex: 0 0 auto">@(song.Title)</span>
                    <div style="flex: 0 0 auto">
                        <small data-album-id="@(song.Album?.Id)" style="cursor: pointer">@(song.Album?.Title ?? "Unknown Album")</small> - <small data-artist-id="@(song.Artist?.Id)" style="cursor: pointer" class="text-muted">@(song.Artist?.Name ?? "Unknown Artist")</small>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-play-id="@(song.Id)" data-tooltip="tooltip" title="Play">
                        <i class="fa fa-play"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary d-none d-lg-inline-block" data-toggle="modal" data-target="#@(HtmlControlsRepository.EditSongModalId)" data-item-id="@(song.Id)" data-tooltip="tooltip"
                            title="Edit">
                        <i class="fa fa-edit"></i>
                    </button>
                    @if (Model.HasPlaylists)
                    {
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-playlist-url="@(Url.Action("AddTrackToPlaylist", "Music"))" data-item-id="@(song.Id)"
                            data-toggle="modal" data-target="#@(HtmlControlsRepository.AddToPlaylistModalId)" data-tooltip="tooltip" title="Add to playlist"
                            data-playlist-type="@(nameof(UIEnums.PlaylistTabs.Music))">
                        <i class="fa fa-plus"></i>
                    </button>
                    }
                </div>
            </div>
        </li>
    }
</ul>
