@model MediaLibrary.WebUI.Models.MusicViewModel

@if (Model.SongGroups.Any())
{
    <div class="accordion accordion-songs">
        @foreach (var item in Model.SongGroups.Select((group, index) => new { Index = index, Group = group }))
        {
            <div class="accordion-item">
                <div class="accordion-header p-0" id="heading-songs-@(item.Index)">
                    <h5 class="m-0">
                        @if (Model.IsSearchResponse)
                        {
                            <button class="accordion-button ui-state-disabled p-1 @(item.Index == 0 ? string.Empty : "collapsed")" disabled="disabled">@(item.Group.Key)</button>
                        }
                        else
                        {
                            <button class="accordion-button w-100 text-start p-1 @(item.Index == 0 ? string.Empty : "collapsed")" data-bs-toggle="collapse" data-bs-target="#collapse-songs-@(item.Index)"
                                    data-group-url="@(Url.Action("GetSongGroup", "Music", new { item.Group.Key, Sort = Model.Configuration.SelectedSongSort }))">
                                @(item.Group.Key)
                            </button>
                        }
                    </h5>
                </div>

                <div id="collapse-songs-@(item.Index)" class="accordion-collapse @(Model.IsSearchResponse ? string.Empty : "collapse")" data-bs-parent=".accordion-songs"
                     data-play-ids="@(string.Join(",", item.Group.Select(song => song.Id)))">
                    @if (Model.IsSearchResponse)
                    {
                        <partial name="~/Views/Music/SongGroup.cshtml" model="(Model.SongGroups.FirstOrDefault(), Model.Playlists.Any())" />
                    }
                </div>
            </div>
        }
    </div>
}
else
{
    <div>No songs.</div>
}